    // // Please select your custom programs.
    // Mod+Return                          hotkey-overlay-title="Open Terminal: Alacritty" { spawn "alacritty"; }
    // Mod+B                               hotkey-overlay-title="Open Browser: firefox" { spawn "firefox"; }
    // Mod+X                               hotkey-overlay-title="Open Text Editor: Neovim" { spawn "alacritty -e nvim"; }
    // Mod+E                               hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }
